body {
  

.button_wrapperq{
  text-align: center;
  margin: 120px 10px 85px 10px;
}

.button_wrappera{
   text-align: center;
   margin: 110px 10px 50px 10px;
}

.button_wrapperk{
   text-align: center;
   margin: 110px 10px 72px 10px;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #C0C0C0;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #808080;
  border-radius: 3px;
}

.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}



a:hover {
    color: white;
}

a:visited {
   color: white;

}
}