.header {
  height: 20vh;
  background-color: #ffffff;
  text-align: center;
}

.button_wrapper1{
   text-align: center;
   margin: 50px 10px 50px 10px;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #C0C0C0;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #808080;
  border-radius: 3px;
}

.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

a:hover {
    color: Black;
}



.about {
  height: 86vh;
  padding: 85px 30px;
  background-color: #fff;
  color: #333;
  text-align: center;
}

.heading {
    display: inline-block;
    margin: 30px 0 15px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-size: 4rem;
    border-bottom: double 4px #999;
}

.front {
   padding : 45px ;
   border-bottom: 20px;
   text-align: center;
}

.front1 {
   text-align: center;
   padding : 5px ;
}

