<h1>Knowledgeconfigs#index</h1>
<p>Find me in app/views/knowledgeconfigs/index.html.erb</p>
<table>
  <tr><th>Title</th>
      <td><%= @knowledgeconfig.title %></td></tr>
  <tr><th>Subtitle</th>
      <td><%= @knowledgeconfig.subtitle %></td></tr>
  <tr><th>Style Name</th>
      <td><%= @knowledgeconfig.stylename %></td></tr>
  </tr>
</table>
<p><a href="/knowledgeconfigs/edit">編集画面>></a></p>