<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'knowledgegenres',
        'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'knowledgegenres',
        'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
      <%= yield %>
  </body>
</html>